// Facebook colors
$black                : #18191A;
$white                : #FFF;

// Panel colors
$main-background      : #232327;
$surface-background   : #39393D;
$surface-border-color : #39393D;

// Text colors
$primary-text         : #E4E6EB;
$primary-heading      : $primary-text;
$secondary-text       : #B0B3B8;
$primary-icon         : $secondary-text;

// Shadow colors
$shadow-1             : rgba(0, 0, 0, 0.1);
$shadow-2             : rgba(0, 0, 0, 0.2);

// Colors
$primary-color        : #4053FA;
$secondary-color      : #18BFBB;

$orange               : #E79D3F;
$red                  : #E06A63;
$pink                 : #E0719E;
$light-pink           : #EEBED3;
$yellow               : #F6E049;
$perano               : #AAC6FC;
$green                : #CEDD71;
$mint                 : #A7D99A;
$bermuda              : #7ED6C2;

$foundation-palette   : (
	primary : $primary-color,
	secondary : $secondary-color,
	//success : $green,
	success : $mint,
	warning : $orange,
	alert : $red,
);
