$form-label-font-size    : 1.4;

$input-font-size         : 1.2;
$input-padding           : 0.8rem 1rem;
$input-placeholder-color : $black;
$input-radius            : 10px;
$input-background        : $surface-background;
$input-background-focus  : $surface-background;
$input-border            : none;
$input-border-focus      : none;
$input-shadow            : none;
$input-shadow-focus      : 0 0 0 .2rem rgba(0, 123, 255, .25);
$input-placeholder-color : $black;


$select-background       : $surface-background;
