//Font stacks
$font-stack                   : 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-monospace        : 'Jetbrains Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// Fonts general
$global-font-size             : 18px;
$global-lineheight            : 1.125;
$global-weight-normal         : 400;
$global-weight-medium         : 500;
$global-weight-semi-bold      : 600;
$global-weight-bold           : 700;
$global-weight-black          : 900;

// Body
$body-font-family             : $font-stack;
$body-font-color              : $primary-text;
$body-background              : $main-background;
$body-font-size               : 24px;
$body-line-height             : 1;
$paragraph-lineheight         : 1.6;

// Heading
$header-font-family           : $font-stack;
$heading-font-color           : $primary-text;
$header-margin-bottom         : 0.6rem;
$header-font-weight           : $global-weight-semi-bold;
$header-styles                : (
	'small': (
		'h1': ('fs': 48, 'lh': 56, 'mt': 0, 'mb': 24),
		'h2': ('fs': 52, 'lh': 60, 'mt': 0, 'mb': $header-margin-bottom),
		'h3': ('fs': 44, 'lh': 52, 'mt': 0, 'mb': $header-margin-bottom),
		'h4': ('fs': 34, 'lh': 42, 'mt': 0, 'mb': $header-margin-bottom),
		'h5': ('fs': 22, 'lh': 30, 'mt': 0, 'mb': 24),
		'h6': ('fs': 18, 'lh': 26, 'mt': 0, 'mb': 24)
	),
	'medium': (
		'h1': ('fs': 60, 'lh': 68, 'mt': 0, 'mb': 24),
		'h2': ('fs': 44, 'lh': 62, 'mt': 0, 'mb': 24),
		'h3': ('fs': 32, 'lh': 40, 'mt': 0, 'mb': $header-margin-bottom),
		'h4': ('fs': 36, 'lh': 44, 'mt': 0, 'mb': $header-margin-bottom),
		'h5': ('fs': 22, 'lh': 30, 'mt': 0, 'mb': 24),
		'h6': ('fs': 18, 'lh': 26, 'mt': 0, 'mb': 24)
	),
	'large': (
		'h1': ('fs': 72, 'lh': 80, 'mt': 0, 'mb': 24),
		'h2': ('fs': 72, 'lh': 80, 'mt': 0, 'mb': 24),
		'h3': ('fs': 48, 'lh': 54, 'mt': 0, 'mb': 24),
		'h4': ('fs': 36, 'lh': 42, 'mt': 0, 'mb': 24),
		'h5': ('fs': 22, 'lh': 30, 'mt': 0, 'mb': 24),
		'h6': ('fs': 18, 'lh': 26, 'mt': 0, 'mb': 24)
	),
);

// Links
$anchor-color                 : $primary-color;
$anchor-color-hover           : adjust-color($primary-color, $saturation : -28, $lightness : -8);
$anchor-text-decoration       : underline;
$anchor-text-decoration-hover : none;

// Code
//$enable-code-inline           : false;
$code-color                   : $black;
$code-font-family             : $font-family-monospace;
$code-font-weight             : 400;
$code-background              : $grey-2;
$code-border                  : none;
$code-padding                 : 0.1rem 0.2rem;
$code-block-padding           : rem-calc(15px 20px);
