.item {
	&__inner {
		height         : 100%;
		padding-bottom : rem-calc(30px);
		border-bottom  : 1px solid $surface-border-color;
	}
}

.article {
	display        : flex;
	flex-direction : column;
	flex-grow      : 1;
	height         : 100%;
	padding        : rem-calc(15px);
	border-radius  : rem-calc(20px);
	min-height     : rem-calc(400px);
	@include transition;

	&__link {
		@include disable-anchor-styles;
	}

	&__image {
		width         : 100%;
		height        : rem-calc(200px);
		margin-bottom : rem-calc(20px);
		@include object-fit(cover);
	}

	&__header {
		flex-grow : 1;
	}

	&__category {
		display       : inline-block;
		border        : 1px solid $surface-border-color;
		padding       : rem-calc(5px 10px);
		border-radius : rem-calc(10px);
		margin-bottom : rem-calc(10px);
		margin-right  : rem-calc(10px);
	}

	&__title {
		@extend h5;
	}

	&__footer {
		//@include button-hocus;
	}

	&__read-more {
		display       : inline-block;
		background    : $surface-background;
		margin-top    : rem-calc(30px);
		padding       : rem-calc(5px 10px);
		border-radius : rem-calc(10px);
		@include transition(background);
	}

	&:hover {
		background : #1C1C1F;

		//.article__category {
		//	background : $main-background;
		//}
	}

	&:focus {
		background : $primary-color;
		//.article__read-more {
		//	background : $primary-color;
		//}
	}
}
