.dropdown.menu > li.is-active > a {
	background : rgba(0, 0, 0, 0);
	//color      : $white;
}

.submenu {
	border-radius  : rem-calc(7px);
	//background     : #0F131D;
	pointer-events : none;
}

.is-dropdown-submenu-parent {

	&.is-active {
		& > a::after {
			transform : rotate(180deg) translateY(50%);
		}
	}

	& > a {
		//padding       : rem-calc(12px 18px);
		padding-right : rem-calc(40px) !important; // clearance for chevron icon
		position      : relative;

		// Dropdown arrow
		&::after {
			@include pseudo-icon;
			position         : absolute;
			width            : rem-calc(20px);
			height           : rem-calc(20px);
			top              : 50%;
			right            : 15px;
			margin-top       : 0;
			transform        : translateY(-50%);
			background-image : url('../icons/chevron-down-175-white.svg');
			background-size  : 150%;
			@include transition($prop : transform);
		}
	}
}

.submenu {
	padding        : rem-calc(10px);
	overflow       : hidden;
	border-radius  : rem-calc(20px);
	pointer-events : none;
	z-index        : 9999;

	& .menu-item a {
		padding        : rem-calc(10px 15px);
		pointer-events : auto;

		@include disable-anchor-styles;
		@include transition;

		&:hover {
			background : rgba($surface-border-color, 0.8);
		}
	}
}
