.entry-meta {
	display     : flex;
	flex-wrap   : wrap;
	align-items : center;

	> * {
		display       : inline-block;
		margin-right  : rem-calc(15px);
		margin-bottom : rem-calc(15px);

		&:last-child {
			margin-right : 0;
		}
	}

	&__category, &__time {
		background    : $surface-background;
		padding       : rem-calc(10px 15px);
		border-radius : rem-calc(7px);
	}

	&__category {
		@extend .link--reset;
		transition : background 150ms ease-out;

		@include hocus {
			background : $grey-2;
		}
	}

	&__time {

	}

	&__tags {
		a {
			@extend .link--reset;
			display       : inline-block;
			background    : $surface-background;
			padding       : rem-calc(10px 15px);
			border-radius : rem-calc(7px);
			margin-right  : rem-calc(15px);

			&:last-child {
				margin-right : 0;
			}

			@include hocus {
				background : $grey-2;
			}
		}
	}
}
