// Wordpress admin bar clearance
body.admin-bar .header {
	top : 32px;
}

.site-off-canvas-content {
	display        : flex;
	min-height     : 100vh;
	flex-direction : column;
}

.wrap-container {
	flex : 1;
}

//.main {
//	height : 100%; // So that .wp-block-cover doesn't grow to insane height.
//}

.section-wrap {
	padding : rem-calc(60px 0);
}
