// Wordpress admin bar clearance
body.admin-bar .header {
	top : 32px;
}

.site-off-canvas-content {
	display        : flex;
	min-height     : 100vh;
	flex-direction : column;
	overflow-x     : hidden;
	position       : relative;
}

.wrap-container {
	flex : 1;
}

//.main {
//	height : 100%; // So that .wp-block-cover doesn't grow to insane height.
//}

.section-wrap {
	margin-top : rem-calc(100px);

	&--content {
		margin : rem-calc(50px 0 150px);
	}
}
