.magellan {
	border        : 1px solid $surface-border-color;
	border-radius : rem-calc(15px);
	overflow      : hidden;

	&__title {
		padding       : rem-calc(15px);
		margin-bottom : 0;
		border-bottom : 1px solid $surface-border-color;
	}

	&__body {
	}

	&__item a {
		border : 1px solid transparent;
		@include transition($prop : background);

		&:hover {
			background : $surface-background;
		}

		&.is-active {
			background : $primary-color;
		}
	}
}
