.magellan {
	margin-right  : 1px;
	border        : 1px solid $main-border-color;
	border-radius : rem-calc(15px);
	overflow      : hidden;

	&__title {
		font-weight   : $global-weight-semi-bold;
		padding       : rem-calc(20px);
		margin-bottom : 0;
		border-bottom : 1px solid $main-border-color;
	}

	&__body {
		padding : rem-calc(10px 0);
	}

	&__item a {
		@extend .link--reset;
		line-height : initial;
		padding     : rem-calc(8px 20px);
		border      : 1px solid transparent;
		transition  : background 150ms ease-out, color 150ms ease-out;

		&:hover {
			color : $shade-6;
		}

		&.is-active {
			color      : $white;
			background : $primary-color;

			&::before {
				content : '👉 '
			}
		}
	}
}
