.magellan {
	//margin-top: rem-calc(70px);
	border        : 1px solid $surface-border-color;
	border-radius : rem-calc(15px);
	overflow      : hidden;

	&__title {
		padding       : rem-calc(15px);
		margin-bottom : 0;
		border-bottom : 1px solid $surface-border-color;
	}

	&__body {
		//padding : rem-calc(15px);

	}

	&__item:last-child a {
		border-radius : rem-calc(0 0 15px 15px);

	}

	&__item a {
		border     : 1px solid transparent;
		transition : all .15s ease-out;

		&:hover, &:active {
			color  : #4053FA;
			//background: rgba( #4053FA, 0.1 );
			border : 1px solid #4053FA;
		}

		&.is-active, &:focus {
			color      : white;
			background : #4053FA;
		}
	}
}
