.posts-navigation {
	display         : flex;
	justify-content : center;
	padding-top     : rem-calc(50px);

	.nav-links {
		display : flex;

		& > * {
			margin-right : rem-calc(20px);

			&:last-child {
				margin-right : 0;
			}
		}

	}

	.nav-next a::after {
		@include pseudo-icon;
		background-position-x : rem-calc(3px);
		width                 : rem-calc(25px);
		height                : rem-calc(25px);
		margin-left           : rem-calc(5px);
		background-image      : url('../icons/arrow-right-250.svg');

	}

	.nav-previous a::before {
		@include pseudo-icon;
		background-position-x : rem-calc(-3px);
		width                 : rem-calc(25px);
		height                : rem-calc(25px);
		margin-right          : rem-calc(5px);
		background-image      : url('../icons/arrow-left-250.svg');
	}

	.nav-next a, .nav-previous a {
		//@extend .link--reset;
		@extend .button;
		//@extend .hollow;

		display         : flex;
		align-items     : center;
		text-decoration : none;
		color           : $white;
	}
}
