@font-face {
	font-family  : 'Inter';
	src          : url('../fonts/Inter-Regular.eot');
	src          : url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Inter-Regular.woff2') format('woff2'),
	url('../fonts/Inter-Regular.woff') format('woff'),
	url('../fonts/Inter-Regular.ttf') format('truetype'),
	url('../fonts/Inter-Regular.svg#Inter-Regular') format('svg');
	font-weight  : normal;
	font-style   : normal;
	font-display : swap;
}

@font-face {
	font-family  : 'Inter';
	src          : url('../fonts/Inter-SemiBold.eot');
	src          : url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Inter-SemiBold.woff2') format('woff2'),
	url('../fonts/Inter-SemiBold.woff') format('woff'),
	url('../fonts/Inter-SemiBold.ttf') format('truetype'),
	url('../fonts/Inter-SemiBold.svg#Inter-SemiBold') format('svg');
	font-weight  : 600;
	font-style   : normal;
	font-display : swap;
}

@font-face {
	font-family  : 'JetBrains Mono';
	src          : url('../fonts/JetBrainsMono-Regular.eot');
	src          : url('../fonts/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
	url('../fonts/JetBrainsMono-Regular.woff') format('woff'),
	url('../fonts/JetBrainsMono-Regular.ttf') format('truetype'),
	url('../fonts/JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg');
	font-weight  : normal;
	font-style   : normal;
	font-display : swap;
}

//@font-face {
//	font-family: 'JetBrains Mono';
//	src: url('../fonts/JetBrainsMono-Italic.eot');
//	src: url('../fonts/JetBrainsMono-Italic.eot?#iefix') format('embedded-opentype'),
//	url('../fonts/JetBrainsMono-Italic.woff2') format('woff2'),
//	url('../fonts/JetBrainsMono-Italic.woff') format('woff'),
//	url('../fonts/JetBrainsMono-Italic.ttf') format('truetype'),
//	url('../fonts/JetBrainsMono-Italic.svg#JetBrainsMono-Italic') format('svg');
//	font-weight: normal;
//	font-style: italic;
//	font-display: swap;
//}
