body {
	&.development {
		&:before {
			position   : fixed;
			top        : 0;
			right      : 0;
			background : white;
			color      : red;
			content    : 'small';
			font-size  : 10px;
			padding    : 0 2px;
			z-index    : 9999999999999999;

			@include breakpoint(medium only) {
				content : 'medium';
			}
			@include breakpoint(large only) {
				content : 'large';
			}
			@include breakpoint(xlarge) {
				content : 'xlarge';
			}
		}
	}
}

::selection {
	background : #79B2F3;
}

::-moz-selection {
	background : #144B8C;
}

.card {
	@include card();
}
