body {
	&.development {
		&:before {
			position   : fixed;
			top        : 0;
			right      : 0;
			background : white;
			color      : red;
			content    : 'small';
			font-size  : 10px;
			padding    : 0 2px;
			z-index    : 9999999999999999;

			@include breakpoint(medium only) {
				content : 'medium';
			}
			@include breakpoint(large only) {
				content : 'large';
			}
			@include breakpoint(xlarge) {
				content : 'xlarge';
			}
		}
	}
}

::selection {
	background  : #4152FA;
	text-shadow : none;
}

::-moz-selection {
	background  : $primary-color;
	text-shadow : none;
}

.card {
	@include card();
}

:root {
	--header-height : 10px;
}
//code {
////	background  : hsla(0, 0%, 100%, .1);
////	padding     : 3px 5px;
////	color       : #B3B9C5;
////	font-weight : 500;
////}

code {
	padding       : rem-calc(3px 5px);
	border-radius : 5px;
}


.menu a {
	@include disable-anchor-styles;
}

img {
	border-radius : rem-calc(10px);
}
