body {
	&.development {
		&:before {
			position   : fixed;
			top        : 0;
			right      : 0;
			background : white;
			color      : red;
			content    : 'small';
			font-size  : 10px;
			padding    : 0 2px;
			z-index    : 9999999999999999;

			@include breakpoint(medium only) {
				content : 'medium';
			}
			@include breakpoint(large only) {
				content : 'large';
			}
			@include breakpoint(xlarge) {
				content : 'xlarge';
			}
		}
	}
}

::selection {
	background  : #79B2F3;
	text-shadow : none;
}

::-moz-selection {
	background  : #144B8C;
	text-shadow : none;
}

.card {
	@include card();
}

//code {
////	background  : hsla(0, 0%, 100%, .1);
////	padding     : 3px 5px;
////	color       : #B3B9C5;
////	font-weight : 500;
////}

code {
	padding       : rem-calc(3px 5px);
	border-radius : 5px;
}

a {
	padding             : rem-calc(2px 0);
	text-decoration     : none;
	background-image    : linear-gradient(currentColor, currentColor);
	background-position : 0 100%;
	background-repeat   : no-repeat;
	background-size     : 0 1px;
	text-shadow         : 2px 2px $main-background,
	2px -2px $main-background,
	-2px 2px $main-background,
	-2px -2px $main-background;
	transition          : background-size .15s;
}

.menu a {
	@include disable-anchor-styles;
}

a:hover, a:focus {
	background-size : 100% 1px;
}

img {
	border-radius : rem-calc(10px);
}
