@mixin hocus {
	&:hover,
	&:focus {
		@content;
	}
}

@mixin pseudo-icon {
	content             : '';
	display             : inline-block;
	background-repeat   : no-repeat;
	background-position : center center;
	background-size     : cover;
}

@mixin object-fit($position: cover) {
	object-fit  : $position;
	font-family : 'object-fit: #{$position};';
}

@mixin drop-capped-text( $base-font-size, $base-line-height, $multiplier: 2 ) {

	// Set the font-size and line-height for the text element
	font-size   : $base-font-size;
	line-height : $base-line-height;

	// Set the drop-cap size so that it's height is exactly two lines of regular text
	&:first-of-type::first-letter {
		float        : left;
		margin-right : 0.2em;
		font-size    : $base-line-height * $multiplier;
		line-height  : $base-line-height * $multiplier;

		// Firefox specific styling since FF doesn't calculate line-height on floated pseudo elements
		@-moz-document url-prefix() {
			$firefox-padding : ( $base-line-height - $base-font-size ) / 2;
			margin           : $firefox-padding 0.2em 0 0;
		}
	}
}
