// Grid settings
$main-sm-columns                      : 12;
$sidebar-sm-columns                   : 4;


// Facebook colors
$black                                : #18191A;
$white                                : #FFF;

// Panel colors
$main-background                      : $black;
$surface-background                   : #242526;
$surface-border-color                 : #38393A;

// Text colors
$primary-text                         : #E4E6EB;
$primary-heading                      : $primary-text;
$secondary-text                       : #B0B3B8;
$primary-icon                         : $secondary-text;

// Shadow colors
$shadow-1                             : rgba(0, 0, 0, 0.1);
$shadow-2                             : rgba(0, 0, 0, 0.2);

// Colors
$primary-color                        : #1587CA;
$secondary-color                      : #18BFBB;
$chambray                             : #334689;
$astral                               : #3385AA;
$bluegreen                            : #0F98BE;
$tiffanyblue                          : #16BABC;

// Gradients
$gradient-1                           : (
	first : $primary-color,
	second : $secondary-color,
);

$gradient-2                           : (
	first : $chambray,
	second : $astral,
);

$gradient-3                           : (
	first : $bluegreen,
	second : $tiffanyblue,
);

$foundation-palette                   : (
	primary : $primary-color,
	secondary : $secondary-color,
	success : #60C165,
	warning : #FFC353,
	alert : #FC6076,
);

// Fonts general
$global-font-size                     : 16px;
$global-lineheight                    : 1.125;
$global-weight-normal                 : 400;
$global-weight-medium                 : 500;
$global-weight-semi-bold              : 600;
$global-weight-bold                   : 700;
$global-weight-black                  : 900;

$font-stack                           : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Body
$body-font-family                     : $font-stack;
$body-font-color                      : $primary-text;
$body-background                      : $main-background;
$body-font-size                       : 24px;
$body-line-height                     : 1;
$paragraph-lineheight                 : 1.6;

// Heading
$header-font-family                   : $font-stack;
$heading-font-color                   : $primary-text;
$header-margin-bottom                 : 0.6rem;
$header-font-weight                   : $global-weight-semi-bold;
$header-styles                        : (
	'small': (
		'h1': ('fs': 60, 'lh': 68, 'mt': 0, 'mb': $header-margin-bottom),
		'h2': ('fs': 52, 'lh': 60, 'mt': 0, 'mb': $header-margin-bottom),
		'h3': ('fs': 44, 'lh': 52, 'mt': 0, 'mb': $header-margin-bottom),
		'h4': ('fs': 34, 'lh': 42, 'mt': 0, 'mb': $header-margin-bottom),
		'h5': ('fs': 26, 'lh': 34, 'mt': 0, 'mb': $header-margin-bottom),
		'h6': ('fs': 18, 'lh': 26, 'mt': 0, 'mb': $header-margin-bottom)
	),
	'medium': (
		'h1': ('fs': 62, 'lh': 70, 'mt': 0, 'mb': $header-margin-bottom),
		'h2': ('fs': 54, 'lh': 62, 'mt': 0, 'mb': $header-margin-bottom),
		'h3': ('fs': 46, 'lh': 54, 'mt': 0, 'mb': $header-margin-bottom),
		'h4': ('fs': 36, 'lh': 44, 'mt': 0, 'mb': $header-margin-bottom),
		'h5': ('fs': 28, 'lh': 36, 'mt': 0, 'mb': $header-margin-bottom),
		'h6': ('fs': 20, 'lh': 28, 'mt': 0, 'mb': $header-margin-bottom)
	),
	'large': (
		'h1': ('fs': 64, 'lh': 72, 'mt': 16, 'mb': $header-margin-bottom),
		'h2': ('fs': 56, 'lh': 64, 'mt': 0, 'mb': $header-margin-bottom),
		'h3': ('fs': 48, 'lh': 56, 'mt': 0, 'mb': $header-margin-bottom),
		'h4': ('fs': 40, 'lh': 48, 'mt': 0, 'mb': $header-margin-bottom),
		'h5': ('fs': 32, 'lh': 40, 'mt': 0, 'mb': $header-margin-bottom),
		'h6': ('fs': 24, 'lh': 32, 'mt': 0, 'mb': $header-margin-bottom)
	),
);

// Links
$anchor-color                         : $primary-color;
$anchor-color-hover                   : scale-color($anchor-color, $lightness : 20%);
$anchor-text-decoration               : underline;
$anchor-text-decoration-hover         : underline;

// Top bar
$topbar-padding                       : 0;
$topbar-background                    : none;
$topbar-submenu-background            : none;
$topbar-title-spacing                 : 90;
$titlebar-padding                     : 0;
$titlebar-background                  : none;

// Grid
$header-height                        : 215px;
$main-padding                         : 400px;
$grid-padding-gutters                 : 50px;
$grid-margin-gutters                  : 50px;
$grid-container-padding               : (
	small: 40px,
	medium: 80px,
);

$grid-column-gutter                   : (
	small: 40px,
	medium: 80px,
);

$dropdownmenu-arrows                  : false;
$dropdownmenu-border                  : none;
$dropdownmenu-min-width               : 250px;
$dropdownmenu-padding                 : rem-calc(10px);
$dropdownmenu-submenu-background      : $main-background;
$dropdownmenu-submenu-padding         : 1000;
$dropdown-menu-item-color-active      : inherit;
$dropdown-menu-item-background-active : rgba($surface-border-color, 0.8);

