.content-header {
	position    : relative;
	overflow    : hidden;
	padding-top : rem-calc(150px);


	&__inner {
		padding : rem-calc(175px 0 225px 0);
	}

	&__line {
		padding-bottom : 100px;
		border-bottom  : 1px solid $surface-border-color;
	}

	&__image {
		@include object-fit;
		width  : 100%;
		height : 100%;
	}

	&__title {
		padding-bottom : rem-calc(50px);
	}
}
