.footer {
	margin-top : rem-calc(200px);

	&__nav {
		border-top  : 1px solid $main-border-color;
		padding-top : rem-calc(50px);

		.widget {

			h3 {
				margin-top    : rem-calc(10px);
				margin-bottom : rem-calc(15px);
				font-size     : rem-calc(18px);
			}

			li {
				color         : $shade-5;
				display       : block;
				margin-bottom : rem-calc(15px);

				ul.children {
					margin-top    : rem-calc(15px);
					margin-left   : rem-calc(25px);
					margin-bottom : rem-calc(15px);
				}
			}

			a {
				@extend .link--footer;
			}
		}
	}

	&__bottom {
		border-top      : 1px solid $main-border-color;
		padding-top     : rem-calc(50px);
		display         : flex;
		align-items     : center;
		justify-content : space-between;
		margin          : rem-calc(35px 0);
	}

	&__copyright {
		color : $shade-5;
	}

	&__back-to-top {
	}
}
