.no-js {
	@include breakpoint(small only) {
		.top-bar {
			display : none;
		}
	}

	@include breakpoint(medium) {
		.title-bar {
			display : none;
		}
	}
}

.header {
	position   : relative;
	background : $surface-background;

	&__inner {
		padding : rem-calc(100px 0 150px 0);
	}
}
