.no-js {
	@include breakpoint(small only) {
		.top-bar {
			display : none;
		}
	}

	@include breakpoint(medium) {
		.title-bar {
			display : none;
		}
	}
}

.header {
	position   : relative;
	height     : 400px;
	background : $surface-background;

	&__title {
		position  : absolute;
		top       : 50%;
		left      : 50%;
		transform : translate(-50%, -50%);
	}
}
